body{
    background-color: #232323;

}
div{
    margin:auto;
}
#khung{
    background-color: #e7e7e7;
    width: 60%;
    height: 750px;
    /*position:absolute;*/
    left:250px;
    box-sizing: border-box;
    /*margin:auto;*/
}
.khungnho{
    background-color: white;
    width: 700px;
    height: 650px;
    border-top: 0;/*de khung mat vien*/
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    /*position: absolute;*/
    top:100px;
    left:80px;
}
.A{
    font-size: 30px ;
    position:absolute;
    left:30px;
}
.B{
    background-color: #e7e7e7;
    width: 90%;
    height: 50px;
    font-size: 30px;
    border-top: 0;/*de khung mat vien*/
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    /*position:absolute;*/
    top:50px;
    left:30px;
}
.C{
    background-color: #e7e7e7;
    width: 40%;
    height: 50px;
    font-size: 30px;
    border-top: 0;/*de khung mat vien*/
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    /*position:absolute;*/
    top:150px;
    left:30px;
    padding-left: 15px;
    font-weight: lighter;
}
.D{
    background-color: #e7e7e7;
    width: 40%;
    height: 50px;
    font-size: 30px;
    border-top: 0;/*de khung mat vien*/
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    /*position:absolute;*/
    top:150px;
    right:35px;
}
.AA{
    /*position:absolute;*/
    top:180px;
    right:235px;
}
.BB{
    background-color: #e7e7e7;
    width: 90%;
    height: 50px;
    font-size: 30px;
    border-top: 0;/*de khung mat vien*/
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    /*position:absolute;*/
    top:230px;
    left:30px;
}
.BBB{
    background-color: #e7e7e7;
    width: 90%;
    height: 50px;
    font-size: 30px;
    border-top: 0;/*de khung mat vien*/
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    /*position:absolute;*/
    top:330px;
    left:30px;
}
.DD{
    /*position:absolute;*/
    top:370px;
    left:33px;
}
.G{
    /*position:absolute;*/
    top:400px;
    left:33px;

}
.M{
    /*position:absolute;*/
    top:400px;
    right: 235px;

}