body{
    width:1000px;
    margin: 50px 30% 50px 25%;
}
span {
    float: right;
    text-align: right;
    margin-top: 60px;
}
.a {
    border-bottom: dashed red 3px;
    border-
}

h3 {
    color: firebrick;
    text-decoration:underline;
}
.b{
    border-bottom: dashed red 3px;
}
.aa{
    border-bottom: dashed red 3px;
    padding-bottom: 20px;
}
.c{
    list-style-type: none;
    border-bottom: dashed red 3px;
    padding-bottom: 20px;
}
.d{
   text-align: center;
    margin-top: -20px;
}