body {
    background-color: mistyrose;
    font-size: 20px;
    line-height: 1.25;
}
#bocuc{
    float: none;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}
#d1{
    width: 90%;
    height:50px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px ;
    /*float: none;*/
    box-sizing: border-box;
    margin: 1%;
}
.da{
    background-color: white;
    width:20%;
    height:auto;
    float:left;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-left: 10px;


}
.db{
    background-color: #000000;
    color:white;

}