body{
    background-image:url('../T2008/anhdep/anh4.png');
    background-repeat:no-repeat;
    background-size:cover;
}
h1{

    color: red;
    font-size:50px;
    font-family:"imes New Roman";
    font-weight:700;T
    line-height:50px;
    text-decoration:underline;
    text-transform:lowercase;
    width:700px;
}
p{
    font-size:20px;
    lỉne-height:1.5;
    color:black;
    width:700px;
    text-align:justifu;
    background-color:red;

}
img{
    max-width:100%;
}