body{
    background-color: #4682B4;
}
#A{
    background-color: white;
    width:60%;
    height:1100px;
    margin: auto;

}
#b{
    /*transition: all 500ms;*/
    background-color: #e9e9e9;
    width: 85%;
    height:55px;
    margin:30px;
    padding-left:40px;
    padding-top: 30px;
    float:left;
}
.c{
    border-radius: 5%;/* cắt thành hình tròn*/
    overflow: hidden;/*chống chàn*/
    transition:500ms;/* khoảng thòi gian ảnh nhấp nháy*/
    /*/* kèm theo thuộc tính hover*/
    box-shadow: 5px 5px  5px #000008;/* thiết lập bóng cho ảnh*/
    background-color: lightgoldenrodyellow;
    width:20%;
    height:auto ;
    margin-left: 30px;
    float:left;
    text-align: center;

}
.c:hover{
    background-color: orangered;  /* ảnh đổi màu*/
    transform: translate(0px,-15px);/*ảnh nhún nhảy*/
    box-shadow: 10px 10px 10px #000008;/* ảnh bị nhâc cao lên*/

}
.c img{
    width:100%;

}
.c1 {
    background-color: #4682B4;
    width: 100%;
    height: 50px;
    color: white; /* màu chữ trong khung*/
    /*text-align: center;*/
    float: bottom;
    margin-bottom: -20px;
    padding-left: 7px;
    padding-top: 10px;
    box-sizing: border-box; /* giói hạn trong khung*/
    animation: c1;
    animation-duration: 3s;
    /*trong 1 giây
         chuyển nhiều màu*/
    animation-delay: 1s; /*khoảng thời gian đổi màu*/
    animation-iteration-count: infinite; /*màu chuyển tiếp*/
}


@keyframes c1{
    0%{background-color: black;
    }
    20%{
        background-color: chocolate;　
    }
    60%{
        background-color: orange;
    }
    80%{
        background-color: darkseagreen;
    }
    100%{
        background-color: darksalmon;
    }
}

.d{
    transition:500ms;/* kèm theo thuộc tính hover*/
    box-shadow:5px 5px 5px #000008;
    background-color: linen;
    width:20%;
    height:auto;
    margin-left: 30px;
    float:left;
    text-align: center;
    margin-top: 50px;
}
.d:hover{
    background-color: orangered;
    transform: translate(0px,-15px);
    box-shadow: 2px 2px 10px #000008;
}

.d img{
    width:100%;
}
